<%= bootstrap_form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-12">
      <%= f.text_field :name , label:"Nome"%>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= f.text_field :surname, label:"Cognome" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= f.text_field :agenzia ,label:"Agenzia"%>
  </div>
</div>

  <div class="footer">
    <%= f.submit "Salva", :class => "btn btn-default btn-fill submit"%>
  </div>
<% end %>
