<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @profile.surname %>
</p>

<p>
  <strong>Avatarimg url:</strong>
  <%= @profile.avatarimg_url %>
</p>

<p>
  <strong>Agenzia:</strong>
  <%= @profile.agenzia %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
