<%= bootstrap_form_for(listing) do |f| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :title %>
    <%= f.text_field :link %>
    <%= f.text_field :tel %>
    <%= f.text_field :tel2 %>
    <%= f.text_field :email %>
    <%= f.text_area :description %>
    <%= f.date_select :insert_date %>
    <%= f.number_field :mt %>
    <%= f.text_field :zona %>
    <%= f.text_field :id_annuncio %>
    <%= f.text_field :origin %>
    <%= f.text_field :price %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
