<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Tel</th>
      <th>Tel</th>
      <th>Email</th>
      <th>Descrizione</th>
      <th>Insert date</th>
      <th>Mt</th>
      <th>Zona</th>
      <th>Id annuncio</th>
      <th>Origin</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.link %></td>
        <td><%= listing.tel %></td>
        <td><%= listing.tel2 %></td>
        <td><%= listing.email %></td>
        <td><%= listing.description %></td>
        <td><%= listing.insert_date %></td>
        <td><%= listing.mt %></td>
        <td><%= listing.zone.name %></td>
        <td><%= listing.id_annuncio %></td>
        <td><%= listing.origin %></td>
        <td><%= listing.price %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
