<% title @listing.title %>
<div class="container-fluid" role="main">

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Info Contatto</h4>
                </div>
                <div class="content">
                    <table class="table table-condensed table-striped">
                        <tr>
                            <td>Link</td>
                            <td>
                                <a href="<%= @listing.link %>">Visualizza</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Telefono</td>
                            <td><%= @listing.tel %></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><%= @listing.email %></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Info Annuncio</h3>
                </div>
                <div class="content">
                    <table class="table table-condensed table-striped">
                        <tr>
                            <td>Mq</td>
                            <td><%= @listing.mt %></td>
                        </tr>
                        <tr>
                            <td>Prezzo</td>
                            <td><%= @listing.price %></td>
                        </tr>
                        <tr>
                            <td>Zona</td>
                            <td><%= @listing.zona  %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Descrizione</h4>
                </div>
                <div class="content">
                    <%= @listing.description %>
                </div>

            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Interazioni
                            <a href="/my_interaction/new?listing_id=<%= @listing.id %>&inttype=Tel">
                                <button class="btn btn-primary btn-wd btn-sm btn-fill">Nuova</button>
                            </a>
                        </h4>
                    </div>
                    <div class="content">
                        <table id="interaction_table" class="table table-bordered table-striped">
                            <thead>
                                <th>Id</th>
                                <th>Creata</th>
                                <th>Nome</th>
                                <th>Tipo</th>
                                <th>Voto</th>
                            </thead>
                            <tbody>
                                <% @listing.interactions.each() do | interaction | %>

                                <tr>
                                    <td>
                                        <%= interaction.id %></td>
                                    <td>
                                        <%= interaction.created_at.to_formatted_s(:long) %></td>
                                    <td>
                                        <%= interaction.name %></td>
                                    <td>
                                        <%= interaction.inttype %></td>
                                    <td>
                                        <%= interaction.vote %></td>
                                </tr>
                                <% end %>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
</div>
