<p id="notice"><%= notice %></p>
<h1>
  Annunci per <%= @search.keyword %> in zona <%= @search.zona %>
</h1>
<h2>Avg prc/mq :<%= @avg_pricemq %></h2>
<div id="app">
  <prova v-bind:searchid="<%= @search.id %>" ></prova>
</div>
