<p id="notice"><%= notice %></p>

<h1>Interazioni</h1>

<table class="table table-bordered datatable" id="datatable">
  <thead>
    <tr>
      <th>Created</th>
      <th>Type</th>
      <th>Vote</th>
      <th>Interest</th>
      <th>Note</th>
      <th>Listing</th>
    </tr>
  </thead>

  <tbody>
    <% @interactions.each do |interaction| %>
      <tr>
        <td><%= interaction.created_at.to_formatted_s(:long) %></td>
        <td><%= interaction.inttype %></td>
        <td><%= interaction.vote %></td>
        <td><%= interaction.interest %></td>
        <td><%= interaction.note %></td>
        <td><%= link_to('Annuncio' , interaction.listing )%></td>
          </tr>
    <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript">
$('.datatable').DataTable({
// ajax: ...,
// autoWidth: false,
// pagingType: 'full_numbers',
// processing: true,
// serverSide: true,

// Optional, if you want full pagination controls.
// Check dataTables documentation to learn more about available options.
// http://datatables.net/reference/option/pagingType
});
</script>
