<% title "Lista Interazioni" %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">

                    <table class="table table-bordered table-striped" id="interaction-t">
                        <thead>
                            <tr>
                                <th>Creata il</th>
                                <th>Tipo</th>
                                <th>Voto</th>
                                <th>Note</th>
                                <th>Annuncio</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <% @interactions.each do |interaction| %>
                            <tr>
                                <td><%= interaction.created_at.to_formatted_s(:long) %></td>
                                <td><%= interaction.inttype %></td>
                                <td><%= interaction.vote %></td>
                                <td><%= interaction.note %></td>
                                <td><%= link_to('Annuncio' , interaction.listing )%></td>
                                <td>
                                <%= link_to ('<i class="fa fa-trash-o"></i>').html_safe, interaction, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-simple btn-danger btn-icon like"%></td>
                           </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
