<p id="notice"><%= notice %></p>

<h1>Interactions</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Vote</th>
      <th>Interest</th>
      <th>Note</th>
      <th>Listing</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interactions.each do |interaction| %>
      <tr>
        <td><%= interaction.type %></td>
        <td><%= interaction.vote %></td>
        <td><%= interaction.interest %></td>
        <td><%= interaction.note %></td>
        <td><%= interaction.listing %></td>
        <td><%= interaction.user %></td>
        <td><%= link_to 'Show', interaction %></td>
        <td><%= link_to 'Edit', edit_interaction_path(interaction) %></td>
        <td><%= link_to 'Destroy', interaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interaction', new_interaction_path %>
