<div class="sidebar" data-background-color="white" data-active-color="danger">

  <!--
  Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
  Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
-->

    <div class="sidebar-wrapper">
          <div class="logo">
              <a href="/searches" class="simple-text">
                  MyAgency Call!
              </a>
          </div>

          <ul class="nav">
            <li class="<%= "active" if controller.controller_name == 'profiles' %>">
                <a href="/profiles/<%= current_user.profile.id %>/edit">
                    <i class="fa fa-user"></i>
                    <p>Profilo</p>
                </a>
            </li>
              <li class="<%= "active" if controller.controller_name == 'searches' %>">
                  <a href="/searches">
                      <i class="fa fa-search"></i>
                      <p>Ricerche</p>
                  </a>
              </li>
              <li class="<%= "active" if controller.controller_name == 'my_listing' %>">
                  <a href="/my_listing/index">
                      <i class="fa fa-edit"></i>
                      <p>Annunci</p>
                  </a>
              </li>
              <li class="<%= "active" if controller.controller_name == 'interactions' %>">
                  <a href="/interactions">
                      <i class="fa fa-desktop"></i>
                      <p>Interazioni</p>
                  </a>
              </li>

          </ul>
    </div>
  </div>
