<% title "Lista Contatti" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Nuovo Contatto', new_customer_path, class:"btn btn-fill btn-primary" %>
    </br>
  </br>
    </div>
  </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">

                    <table class="table table-bordered table-striped" id="interaction-t">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cognome</th>
                                <th>Telefono</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <% @customers.each do |customer| %>
                            <tr>
                                <td><%= customer.name %></td>
                                <td><%= customer.surname %></td>
                                <td><%= customer.phone1 %></td>

                                <td>
                                <%= link_to ('<i class="fa fa-pencil-square-o"></i>').html_safe, edit_customer_path(customer) %>
                                <%= link_to ('<i class="fa fa-trash-o"></i>').html_safe, customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
