<% title "Nuova Interazione" %>
 <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
              <div class="header">
                  <h4 class="title" >Contatto</h4>
              </div>
                <div class="content">
                    <%= bootstrap_form_for(@interaction ,:url => my_interaction_create_path) do |f| %>
                    <% if @interaction.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@interaction.errors.count, "error") %>
                            prohibited this interaction from being saved:</h2>
                        <ul>
                            <% @interaction.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                    <% end %>

                    <%= f.text_field :name, label: "Nome contatto" %>
                    <%= f.hidden_field :inttype %>
                    <%= f.select :vote, options_for_select(0..10), label:"Interesse" %>
                    <%= f.text_area :note , label: "Note"%>
                    <%= f.hidden_field :listing_id %>
                    <div class="separator"></div>
                    <%= f.submit  "Crea Interazione" ,class:"btn btn-success btn-fill btn-wd"%>
                    <% end %>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title" >Dati Annuncio</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><%= @listing.title %></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <%= @listing.description %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h3><%= @listing.price %>
                                €</h3>
                        </div>
                        <div class="col-md-6">
                            <h3><%= @listing.mt %>
                                mq</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
