<%= bootstrap_form_for(search) do |f| %>
  <% if search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <%= f.text_field :keyword , label:"Parola chiave" ,placeholder:"Es.: No Agenzie" %>

      <% zones_array = Zone.all.map { |zone| [zone.name, zone.id] } %>
      <% opt = options_for_select(zones_array,@zone_id) %>
      <%= f.select :zone_id, opt, { label: "Zona :" } %>

<br>
      <%= f.submit "Crea Ricerca", class:"btn btn-success btn-fill" %>
  <% end %>
