<%= bootstrap_form_for(search) do |f| %>
  <% if search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Nuova Ricerca</h3>
    </div>
    <div class="panel-body">
      <%= f.text_field :keyword %>

      <% zones_array = Zone.all.map { |zone| [zone.name, zone.pp_url_part] } %>
      <%= f.select(:zona) do %>
        <%= options_for_select(zones_array) %>
      <% end %>

    </div>
    <div class="panel-footer">
      <%= f.submit %>
    </div>
  </div>


  <% end %>
