<div class="right_col" role="main">
   <div class="">

         <div class="page-title">
           <div class="title_left">
             <h3>Le mie ricerche </h3>
           </div>
         </div>

         <div class="clearfix"></div>

         <div class="row">
           <div class="col-md-12">
             <div class="x_panel">
                    <div class="x_content">
                      <table class="table datatable" id="search-table">
                        <thead>
                          <tr>
                            <th>Keyword</th>
                            <th>Zona</th>
                            <th>Annunci</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @searches.each do |search| %>
                            <tr>
                              <td><%= search.keyword %></td>
                              <td><%= search.zone.name %></td>
                              <td><%= search.listings.count() %>
                              <td><%= link_to 'Annunci', results_path(:search_id => search.id) %></td>
                              <td><%= link_to 'Esegui', porta_portese_run_search_path(:search_id => search.id) %></td>
                              <td><%= link_to 'Edit', edit_search_path(search) %></td>
                              <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
               </div>
             </div>
           </div>
        </div>

<%= link_to 'New Search', new_search_path %>
