<!DOCTYPE html>
<html>
  <head>
    <title>MyAgency</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body class="nav-md">
    <div id="app" class="container body">
      <% flash.each do |key, value| %>
          <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

    <%= render "partials/sidenav" %>
    <%= render "partials/topnav" %>

    <%= yield %>

    <%= render "partials/footer" %>
    <%= javascript_include_tag *webpack_asset_paths('application', extension: 'js') %>

    <%= javascript_include_tag 'application' %>

    <script src="http://localhost:3808/webpack-dev-server.js"></script>

  </body>

</html>
