<!DOCTYPE html>
<html>
  <head>
    <title>MyAgency</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>

  </head>

  <body >
    <%= navbar fixed: :top do %>
      <%= navbar_header brand: 'My great app', brand_link: '/home' %>
      <%= navbar_collapse do  %>
           <%=  navbar_group class: 'foo', id: 'menu' do %>
            <%=   navbar_item "Ricerche", '/searches'  %>
            <%=   navbar_item "Annunci", '/my_listing/index' %>
            <%=   navbar_item "Interazioni", '/interactions' %>
           <% end %>
      <% end %>
    <% end %>

    <div class="container">

        <%= yield %>

    </div>

    <%= javascript_include_tag *webpack_asset_paths('application', extension: 'js') %>

    <script src="http://localhost:3808/webpack-dev-server.js"></script>

  </body>


</html>
