<%# views/layouts/external_pages.html.erb %>

<!DOCTYPE html>
<html>
<head>
  <title>GentelellaOnRails</title>

  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<style>
  /*Devise flash*/
  .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
    margin-bottom: 0px;
  }
  .alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
    margin-bottom: 0px;
  }
  .alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    margin-bottom: 0px;
  }
</style>
<body>

  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
         <div class="container">
          <b> <%= value %>  </b>
        </div>
      </div>
  <% end %>


  <%= yield %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>


</body>
